{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 4 versions"]
      },
      "include": ["transform-regenerator"]
    }]
  ],
  "plugins": [
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
